<h1>{{loginResult}}</h1>

<ng-container *ngIf="!displayNewUserForm">
    <button (click)="signInWithGoogle()" 
    type="button">Login with Google</button>
</ng-container>
<br/>
<ng-container *ngIf="displayNewUserForm">
    <form #userlogin = "ngForm"
    (ngSubmit) = "onUserIdSubmit(userlogin.value)" >
        <input type = "text" name = "userId" 
        placeholder = "enter a unique user id here" ngModel>
        <br/>
        <input type = "submit" value = "submit">
    </form>
</ng-container>

