<div>
    <h2>Current Game</h2>
    <div class="choices">
        <button (click)="setPlayer(1)" 
        class="single-choice" type="button">
            start new game with X
        </button>
        <button (click)="setPlayer(-1)" 
        class="single-choice" type="button">
            start new game with O
        </button>

        <form #challengerId = "ngForm"
        (ngSubmit) = "sendChallenge(challengerId.value)" >
            <input type = "text" name = "userId" 
            placeholder = "user id to challenge" ngModel>
            <br/>
            <input type = "submit" value = "Challenge">
        </form>
    </div>
    <div *ngFor="let row of [0,1,2]" class="row">
        <div 
            *ngFor="let col of [0,1,2]" 
            class="block"
            (click)="registerMove(3*row+col)"
            >
            {{this.gameDisplay[3*row+col]}}
        </div>
    </div>
    <div class="Result">
        <h2>The Current Game Result is {{this.game.gameResult}}</h2>
    </div>
    <h1>Challenges</h1>
    <div class="challenges">
        <ol>
            <li class="challenge" 
            *ngFor="let challenge of receivedChallenges.arr">
                {{challenge}}
            </li>
        </ol>
    </div>
</div>
